Source: pam-ns
Section: extra
Priority: optional
Maintainer: Dmitry Yu Okunev <dyokunev@ut.mephi.ru>
Build-Depends: debhelper (>=9), libpam0g-dev, libprocps3-dev
Standards-Version: 3.9.8
Homepage: https://github.com/xaionaro/pam_ns
#Vcs-Git: git://anonscm.debian.org/collab-maint/pam-ns.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pam-ns.git

Package: pam-ns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: an unshare()/setns() PAM module
 pam_ns.so is a PAM module, that calls unshare() with specified
 argument.
 SYNOPSIS: session optional pam_ns.so <session|user|group> <...>
