Source: libpam-unshare
Section: admin
Priority: extra
Maintainer: Dmitry Yu Okunev <dyokunev@ut.mephi.ru>
Build-Depends: debhelper (>= 9), libpam0g-dev
Standards-Version: 3.9.5
Homepage: https://github.com/xaionaro/pam_unshare
#Vcs-Git: git://anonscm.debian.org/collab-maint/libpam-unshare.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/libpam-unshare.git;a=summary

Package: libpam-unshare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PAM module to unshare() sessions
 This PAM module allows to call syscall "unshare()" with specified
 arguments for sessions.
